{%extends "base"%}

{%block title%}
	{% if title_rendered %}
		{{title_rendered | safe}}
	{% else %}
		{{access.path_safe | safe}}
	{%endif%}
{%endblock title%}


{%block footer_addition%}
	<p>kodi plugin url : {{access.path_safe | safe}}</p>
{%endblock%}
